body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
* {
  box-sizing: border-box;
}
#character {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 100%;
  position: fixed;
  width: 100%;
}
