<!DOCTYPE html>
<html>
  <head>
    <title>Character Editor - Maze's SpriteTube</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <script>
      const _PORT = ${port}
    </script>
    <script src="resources/jquery-3.6.0.min.js"></script>
    <script src="resources/jquery-ui-1.13.1.custom/jquery-ui.min.js"></script>
    <link
      rel="stylesheet"
      href="resources/jquery-ui-1.13.1.custom/jquery-ui.min.css"
    />
    <link href="resources/editor.css" rel="stylesheet" />
    <script src="resources/editor.js"></script>
    <script
      src="https://kit.fontawesome.com/24393e62ca.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="editing">
    <!-- VIEWER -->
    <div id="viewer__container">
      <div id="spritesheet_main" class="viewer__spritesheet">
        <img src="./character.png" />
      </div>
      <div class="viewer__backdrop"></div>
      <div id="resize_box">
        <div id="spritesheet_boxed" class="viewer__spritesheet">
          <img src="./character.png" />
        </div>
        <div id="snapshot_icon_box" class="d-none"></div>
      </div>
    </div>
    <!-- /VIEWER -->

    <!-- TABS -->
    <div id="tabs__container">
      <div id="tabs__titles">
        <a href="#tabFrames" class="tab__title is-active">Frames</a>
        <a href="#tabProperties" class="tab__title">Info</a>
        <a href="#tabParty" class="tab__title">Party</a>
        <a href="#tabSettings" class="tab__title">Settings</a>
      </div>

      <!-- FRAMES -->
      <div data-tab="tabFrames" class="tab__content is-active">
        <div id="frames__container"></div>

        <div class="tab__actions">
          <a
            id="editor__action_save_frames"
            data-tooltip="Backup Image"
            href="#"
            ><i class="fa-solid fa-floppy-disk fa-fw"></i> Save frames</a
          >
          <a
            id="editor__action_center_sheet"
            href="#"
            data-tooltip="Backup Image"
            ><i class="fa-solid fa-arrows-to-circle fa-fw"></i> Center sheet</a
          >
        </div>

        <div class="tab__footbar">
          <a
            id="frame__action_update"
            data-tooltip="Update Frame"
            href="#"
            class="d-none"
            ><i class="fa-solid fa-check fa-fw"></i
          ></a>
          <a id="frame__action_add" data-tooltip="Add Frame" href="#"
            ><i class="fa-solid fa-square-plus fa-fw"></i
          ></a>
          <a id="frame__action_snap" data-tooltip="Snapshot" href="#"
            ><i class="fa-solid fa-camera fa-fw"></i
          ></a>
          <a id="frame__action_icon" data-tooltip="Iconize" href="#"
            ><i class="fa-solid fa-crop-simple fa-fw"></i
          ></a>
          <a
            id="frame__action_icon_download"
            data-tooltip="Extract Icon"
            href="#"
            class="d-none"
            ><i class="fa-solid fa-file-export fa-fw"></i
          ></a>
          <a
            id="frame__action_cancel_all"
            data-tooltip="Cancel"
            href="#"
            class="d-none"
            ><i class="fa-solid fa-xmark fa-fw"></i
          ></a>
          <a
            id="frame__action_delete"
            class="is-danger d-none"
            data-tooltip="Delete"
            href="#"
            ><i class="fa-solid fa-trash-can fa-fw"></i
          ></a>
        </div>
      </div>
      <!-- /FRAMES -->

      <!-- PROPERTIES -->
      <div data-tab="tabProperties" class="tab__content">
        <!-- PREVIEW -->
        <div class="tab__panel">
          <h6 class="tab__panel_title">Preview</h6>
          <div class="row">
            <div id="preview__container" class="col">
              <iframe id="preview__iframe" src="./" frameborder="0"></iframe>
              <a id="preview__action_reload" href="#"
                ><i class="fa-solid fa-rotate-right fa-fw"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- /PREVIEW -->

        <!-- NAME & NUMBER -->
        <div class="tab__panel d-none" data-group="framedata">
          <h6 class="tab__panel_title">Frame</h6>
          <div class="row">
            <div class="col">
              <div class="input">
                <label><i class="fa-solid fa-hashtag fa-fw"></i></label>
                <input id="frame__info_number" value="0" disabled />
              </div>
            </div>
            <div class="col">
              <div class="input">
                <label><i class="fa-solid fa-signature fa-fw"></i></label>
                <input id="frame__info_name" value="0" disabled />
              </div>
            </div>
          </div>
        </div>
        <!-- /NAME & NUMBER -->

        <!-- POSITION AND SIZE -->
        <div class="tab__panel d-none" data-group="framedata">
          <h6 class="tab__panel_title">Position & Size</h6>
          <div class="row">
            <div class="col col-6">
              <div class="input">
                <label><i class="fa-solid fa-left-right fa-fw"></i></label>
                <input id="frame__info_x" value="0" disabled />
              </div>
            </div>
            <div class="col col-6">
              <div class="input">
                <label><i class="fa-solid fa-up-down fa-fw"></i></label>
                <input id="frame__info_y" value="0" disabled />
              </div>
            </div>
            <div class="col col-6">
              <div class="input">
                <label
                  ><i class="fa-solid fa-ruler-horizontal fa-fw"></i
                ></label>
                <input id="frame__info_w" value="0" disabled />
              </div>
            </div>
            <div class="col col-6">
              <div class="input">
                <label><i class="fa-solid fa-ruler-vertical fa-fw"></i></label>
                <input id="frame__info_h" value="0" disabled />
              </div>
            </div>
          </div>
        </div>
        <!-- /POSITION AND SIZE -->

        <!-- SHORTCUTS -->
        <div class="tab__panel is-bottom">
          <h6 class="tab__panel_title">Shortcuts</h6>
          <div class="row">
            <div class="col">
              <code
                ><i class="fa-solid fa-arrows-up-down-left-right fa-fw"></i> to
                Move</code
              >
            </div>
            <div class="col">
              <code
                >[Shift] +
                <i class="fa-solid fa-arrows-up-down-left-right fa-fw"></i>
                to Resize</code
              >
            </div>
            <div class="col">
              <code>Hold [CTRL] to amplify</code>
            </div>
            <div class="col d-none">
              <code
                ><i class="fa-solid fa-computer-mouse fa-fw"></i> [scroll] to
                zoom</code
              >
            </div>
          </div>
        </div>
        <!-- /SHORTCUTS -->
      </div>
      <!-- /PROPERTIES -->

      <!-- PARTY -->
      <div data-tab="tabParty" class="tab__content">
        <!-- PARTY -->
        <div class="tab__panel">
          <h6 class="tab__panel_title">Party</h6>
          <div class="row">
            <div id="party__alerts" class="col"></div>
            <div class="col">
              <code
                >You need to be a
                <a
                  href="https://www.buymeacoffee.com/mazeakin"
                  target="_blank"
                  class="bmc-color"
                  ><i class="fa-solid fa-mug-hot fa-fw"></i> member</a
                >
                to be able to create a party (servers are expensive).</code
              >
            </div>
            <div class="col">
              <div class="input">
                <label><i class="fa-solid fa-envelope fa-fw"></i></label>
                <input
                  id="member__email"
                  value="${party.memberEmail}"
                  placeholder="Coffee email"
                  type="email"
                />
              </div>
            </div>
            <div class="col">
              <code
                >You do NOT need a membership to join a party created by someone
                else.</code
              >
            </div>
            <div class="col">
              <div class="input">
                <label><i class="fa-solid fa-hat-wizard fa-fw"></i></label>
                <input
                  id="party__nickname"
                  value="${party.userName}"
                  placeholder="Nickname"
                />
              </div>
            </div>
            <div class="col col-6">
              <div class="input">
                <label><i class="fa-solid fa-dice-d20 fa-fw"></i></label>
                <input
                  id="party__name"
                  value="${party.partyName}"
                  placeholder="Party name"
                />
              </div>
            </div>
            <div class="col col-6">
              <div class="input">
                <label><i class="fa-solid fa-key fa-fw"></i></label>
                <input
                  id="party__password"
                  value="${party.partyPassword}"
                  placeholder="Party pass"
                />
              </div>
            </div>
          </div>
        </div>
        <div id="party__container" class="tab__panel d-none">
          <h6 class="tab__panel_title">Party members</h6>
          <div class="row"><div id="party__members" class="col"></div></div>
        </div>
        <!-- /PARTY -->

        <div class="tab__actions">
          <a id="party__action_reload" href="#" data-tooltip="Backup Image"
            ><i class="fa-solid fa-shield-cat fa-fw"></i> Reconnect</a
          >
          <a id="party__action_save" href="#" data-tooltip="Backup Image"
            ><i class="fa-solid fa-user-shield fa-fw"></i> Save party</a
          >
        </div>
      </div>
      <!-- /PARTY -->

      <!-- SETTINGS -->
      <div data-tab="tabSettings" class="tab__content">
        <!-- PORT -->
        <div class="tab__panel">
          <h6 class="tab__panel_title">Port</h6>
          <div class="row">
            <div class="col">
              <div class="input">
                <label><i class="fa-solid fa-plug fa-fw"></i></label>
                <input id="system__port" value="${port}" />
              </div>
            </div>
          </div>
        </div>
        <!-- /PORT -->

        <div class="tab__actions">
          <a
            id="editor__action_save_settings"
            href="#"
            data-tooltip="Backup Image"
            ><i class="fa-solid fa-gear fa-fw"></i> Save settings</a
          >
        </div>

        <div class="tab__footbar">
          <a
            id="editor__action_download_img"
            data-tooltip="Get Image"
            href="#"
            target="_blank"
            ><i class="fa-solid fa-download fa-fw"></i
          ></a>
          <a
            id="editor__action_download_json"
            data-tooltip="Get Frames"
            href="#"
            ><i class="fa-solid fa-file-arrow-down fa-fw"></i
          ></a>
          <a
            id="editor__action_upload_img"
            class="is-danger"
            data-tooltip="Set Image"
            href="#"
            ><i class="fa-solid fa-upload fa-fw"></i
          ></a>
          <a
            id="editor__action_upload_json"
            class="is-danger"
            data-tooltip="Set Frames"
            href="#"
            ><i class="fa-solid fa-file-arrow-up fa-fw"></i
          ></a>
        </div>
      </div>
      <!-- /SETTINGS -->
    </div>
    <!-- /TABS -->
  </body>
</html>
