<!DOCTYPE html>
<html>
  <head>
    <title>Player - Maze's SpriteTube</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <script>
      const _PORT = ${port}
    </script>
    <script src="./resources/jquery-3.6.0.min.js"></script>
    <link href="./resources/player.css" rel="stylesheet" />
    <script src="./resources/player.js"></script>
  </head>
  <body>
    <div id="character"></div>
  </body>
</html>
